---
import CTA from "@components/CTA.astro";
import FAQ from "@components/FAQabout.astro";
import Landing from "@components/Landing.astro";
import { Image } from "astro:assets";
import BaseLayout from "src/layouts/BaseLayout.astro";
import coding from "../assets/images/coding.jpg";
import design from "../assets/images/design.jpg";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import landingImage from "@assets/images/landing.jpg"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import { getOptimizedImage } from "@js/utils";
const optimizedImage = await getOptimizedImage(landingImage);
---

<BaseLayout
  title="About NCAT Digital"
  description=`NCAT Digital is your go-to partner for seo friendly reponsive web design in western mass`
  preloadedImage={optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing title="About Us" image={optimizedImage} />

  <!-- ============================================ -->
  <!--                 Side By Side                 -->
  <!-- ============================================ -->

  <section id="about-page">
    <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-left">
        <div class="cs-picture cs-picture1">
          <Image
            aria-hidden="true"
            decoding="async"
            src={design}
            alt="NCAT Digital double screen desk setup"
            loading="lazy"
            width="400"
            height="563"
          />
        </div>
        <div class="cs-picture cs-picture2">
          <Image
            aria-hidden="true"
            decoding="async"
            src={coding}
            alt="Screen with branding information"
            loading="lazy"
            width="1400"
            height="2563"
          />
        </div>
      </div>
      <!-- Right Content Section-->
      <div class="cs-right">
        <span class="cs-topper">About Us</span>
        <h2 class="cs-title">About NCAT Digital</h2>
        <p class="cs-text">
          At NCAT Digital, we believe in transforming visions into reality. Our
          team of dedicated professionals specializes in crafting innovative and
          user-centric digital solutions that empower businesses to thrive in a
          competitive landscape.
        </p>
        <p class="cs-text">
          I With a strong commitment to excellence, we blend cutting-edge
          technology with creative design to deliver websites that are not only
          visually appealing but also optimized for performance and user
          experience. Whether you're a startup or an established enterprise, we
          tailor our solutions to meet your unique goals.
        </p>
        <div class="cs-flex-group">
          <p class="cs-flex-p">
            At NCAT Digital, every project begins with understanding your story,
            so we can create solutions that truly represent your brand and
            resonate with your audience.
          </p>
          <span class="cs-name">Nabeel Areiqat</span>
          <span class="cs-job">CEO-Founder</span>
          <Image
            class="cs-quote-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
            alt="gavel"
            width="136"
            height="77"
          />
        </div>
      </div>
    </div>
  </section>
  <FAQ />
  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #about-page {
      padding: var(--sectionPadding);
      background-color: var(--grey);

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: (40/16rem);
      }

      .cs-left {
        /* scaling the font size with the view width */
        font-size: ~"min(2.31vw, .7em)";
        /* using ems so we can use font size to scale the whole section */
        width: (631/16em);
        height: (636/16em);
        position: relative;
      }

      .cs-picture {
        border-radius: (24/16em);
        display: block;
        position: absolute;
        /* clips img tag corners */
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          /* makes image act like a background image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-picture1 {
        width: (522/16em);
        height: (581/16em);
        top: 0;
        left: 0;
      }

      .cs-picture2 {
        width: (414/16em);
        height: (400/16em);
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        /* 6px - 12px */
        border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
        right: 0;
        bottom: 0;
      }

      .cs-right {
        max-width: (542/16rem);
        margin: auto;
      }

      .cs-topper {
        text-align: left;
        margin-bottom: (4/16rem);
      }

      .cs-title {
        text-align: left;
        max-width: (800/16rem);
      }

      .cs-text {
        text-align: left;
        max-width: (750/16rem);
        margin-bottom: (16/16rem);
        color: var(--bodyTextColor);

        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-flex-group {
        /* 16px - 32px */
        padding: clamp(1rem, 3vw, 2rem);
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: (16/16rem);
        position: relative;
      }

      .cs-flex-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0 0 (16/16rem);
        color: var(--primary);
      }

      .cs-name {
        font-size: (16/16rem);
        font-weight: bold;
        line-height: 1.2em;
        text-transform: uppercase;
        margin: 0 0 (4/16rem);
        color: var(--grey);
        display: block;
      }

      .cs-job {
        font-size: (14/16rem);
        line-height: 1.5em;
        color: var(--primary);
        display: block;
      }

      .cs-quote-icon {
        /* 60px - 136px */
        width: clamp(3.75rem, 10vw, 8.5rem);
        height: auto;
        position: absolute;
        /* 16px - 32px */
        right: clamp(1rem, 4vw, 2rem);
        bottom: (0/16rem);
      }

      .cs-button-solid {
        margin-top: (32/16rem);
        font-size: (16/16rem);
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        min-width: (150/16rem);
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        padding: 0 (24/16rem);
        color: var(--bodyTextColorWhite);
        background-color: var(--secondary);
        display: inline-block;
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          width: 0%;
          height: 100%;
          background: var(--secondaryDark);
          opacity: 1;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    #about-page {
      .cs-container {
        flex-flow: row;
        justify-content: space-between;
        gap: (52/16rem);
      }

      .cs-left {
        font-size: ~"min(1.2vw, 1em)";
        flex: none;
      }

      .cs-right {
        margin: 0;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #about-page {
        background-color: var(--dark);
        .cs-left {
          &:before,
          &:after {
            background: var(--accent);
          }
        }

        .cs-picture2 {
          background-color: var(--dark);
          /* 6px - 12px */
          border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
        }

        .cs-topper {
          color: var(--primaryLight);
        }

        .cs-title,
        .cs-text,
        .cs-h3,
        .cs-flex-p,
        .cs-name {
          color: var(--bodyTextColorWhite);
        }

        .cs-flex-group {
          background-color: rgba(0, 0, 251, 0.2);
        }

        .cs-job {
          color: var(--bodyTextColorWhite);
        }

        .cs-quote-icon {
          opacity: 0.2;
        }
      }
    }
  }
</style>
