<!-- ============================================ --><!--                 Recent Posts                 --><!-- ============================================ -->
<section id="blog-1347">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Blog</span>
      <h2 class="cs-title">Directly from The Latest News and Articles</h2>
      <p class="cs-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
        lobortis quam eu elit lobortis ultrices. Nulla ut accumsan lorem, sed
        molestie justo. Praesent vehicula eleifend.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a class="cs-link" href="/">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-client.png"
            />
            <source
              media="(min-width: 601px)"
              srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-client.png"
            />
            <img
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-client.png"
              alt="agency"
              width="413"
              height="374"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-item-text">
            <h3 class="cs-h3">
              Digital check list are you prepared for new year?
              <picture class="cs-icon-wrapper">
                <img
                  class="cs-icon"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                  alt="arrow"
                  width="413"
                  height="374"
                  aria-hidden="true"
                />
              </picture>
            </h3>
            <div class="cs-info">
              <span class="cs-date">
                <img
                  class="cs-date-icon"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                  alt="calendar"
                  width="413"
                  height="374"
                  aria-hidden="true"
                />
                07 Sep, 2022
              </span>
              <span class="cs-category"> Ecommerce </span>
            </div>
          </div>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link" href="/">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-presentation.png"
            />
            <source
              media="(min-width: 601px)"
              srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-presentation.png"
            />
            <img
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-presentation.png"
              alt="agency"
              width="413"
              height="374"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-item-text">
            <h3 class="cs-h3">
              Writing wordPress guides for beginner
              <picture class="cs-icon-wrapper">
                <img
                  class="cs-icon"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                  alt="arrow"
                  width="413"
                  height="374"
                  aria-hidden="true"
                />
              </picture>
            </h3>
            <div class="cs-info">
              <span class="cs-date">
                <img
                  class="cs-date-icon"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                  alt="calendar"
                  width="413"
                  height="374"
                  aria-hidden="true"
                />
                07 Sep, 2022
              </span>
              <span class="cs-category"> Ecommerce </span>
            </div>
          </div>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link" href="/">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-laptops.png"
            />
            <source
              media="(min-width: 601px)"
              srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-laptops.png"
            />
            <img
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-laptops.png"
              alt="agency"
              width="413"
              height="374"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-item-text">
            <h3 class="cs-h3">
              Get a few solutions to hire a best candidate
              <picture class="cs-icon-wrapper">
                <img
                  class="cs-icon"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                  alt="arrow"
                  width="413"
                  height="374"
                  aria-hidden="true"
                />
              </picture>
            </h3>
            <div class="cs-info">
              <span class="cs-date">
                <img
                  class="cs-date-icon"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                  alt="calendar"
                  width="413"
                  height="374"
                  aria-hidden="true"
                />
                07 Sep, 2022
              </span>
              <span class="cs-category"> Digital Agency </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="cs-bubbles" aria-hidden="true"></div>
</section>

<style lang="less">
  /*-- -------------------------- -->
<---        Recent Posts        -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #blog-1347 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
      overflow: hidden;

      .cs-container {
        width: 100%;
        /* changes to 1280px on desktop */
        max-width: (700/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
      }

      .cs-title {
        max-width: 20ch;
      }

      .cs-topper {
        color: var(--secondary);
      }

      .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: (16/16rem);
      }

      .cs-item {
        list-style: none;
        display: flex;
        flex-direction: column;
        grid-column: span 12;

        &:hover {
          .cs-h3,
          .cs-date,
          .cs-category {
            color: #fff;
          }

          .cs-item-text {
            background-color: var(--primary);
          }

          .cs-icon-wrapper {
            border-color: #fff;
          }

          .cs-icon,
          .cs-date-icon {
            filter: brightness(1000%) grayscale(1);
          }

          .cs-icon {
            transform: rotate(45deg);
          }

          .cs-category {
            &::before {
              background-color: #fff;
              opacity: 0.2;
            }
          }
        }
      }

      .cs-link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        /* if one card has more content then the others, the card will stretch to fill the parent container */
        flex-grow: 1;
        gap: (16/16rem);
      }

      .cs-picture {
        width: 100%;
        height: (320/16rem);
        margin: 0;
        border-radius: (24/16rem);
        display: block;
        position: relative;
        z-index: 1;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-item-text {
        padding: (20/16rem);
        background-color: #f7f7f7;
        border-radius: (24/16rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* makes the item text the element that grows to fill the container */
        flex-grow: 1;
        transition: background-color 0.3s;
      }

      .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
        line-height: 1.2em;
        text-align: left;
        margin: 0;
        color: #1a1a1a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: (16/16rem);
        transition: color 0.3s;
      }

      .cs-icon-wrapper {
        width: (48/16rem);
        height: (48/16rem);
        border: 1px solid #bababa;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents the parent flexbox from shrinking the icon */
        flex-shrink: 0;
        transition: border-color 0.3s;
      }

      .cs-icon {
        width: auto;
        height: (12/16rem);
        transition:
          filter 0.3s,
          transform 0.3s;
      }

      .cs-info {
        margin: (16/16rem) 0 0;
        padding: (16/16rem) 0 0;
        border-top: 1px solid #e8e8e8;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .cs-date {
        font-size: (14/16rem);
        line-height: 1.5em;
        text-align: left;
        color: #1a1a1a;
        display: flex;
        align-items: center;
        gap: (8/16rem);
        transition: color 0.3s;
      }

      .cs-date-icon {
        width: auto;
        height: (24/16rem);
        transition: filter 0.3s;
      }

      .cs-category {
        font-size: (14/16rem);
        /* centers the text if the category bullet has to span multiple lines */
        text-align: center;
        padding: (4/16rem) (16/16rem);
        color: #1a1a1a;
        border-radius: (80/16rem);
        position: relative;
        z-index: 0;
        overflow: hidden;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background: #e8e8e8;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }

      .cs-bubbles {
        width: (321/16rem);
        height: (423/16rem);
        display: none;
        position: absolute;
        top: (1063/16rem);
        right: (-140/16rem);
        z-index: -1;

        &:before {
          /* white border bubble */
          content: "";
          width: (264/16rem);
          height: (264/16rem);
          background: transparent;
          opacity: 1;
          border: 1px solid #1a1a1a;
          border-radius: 50%;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          animation-name: floatAnimation;
          animation-duration: 5s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-fill-mode: forwards;
        }

        &:after {
          /* orange bubble */
          content: "";
          width: (264/16rem);
          height: (264/16rem);
          background: var(--primary);
          opacity: 0.1;
          border-radius: 50%;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          animation-name: floatAnimation2;
          animation-duration: 14s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #blog-1347 {
      .cs-bubbles {
        display: block;
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #blog-1347 {
      .cs-container {
        max-width: (1280/16rem);
      }

      .cs-item {
        grid-column: span 4;
      }

      .cs-bubbles {
        top: (281/16rem);
      }
    }
  }

  /* Large Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #blog-1347 {
      .cs-bubbles {
        margin-right: (-990/16rem);
        right: 50%;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #blog-1347 {
        .cs-topper {
          color: var(--primaryLight);
        }
        .cs-title,
        .cs-text,
        .cs-h3,
        .cs-date,
        .cs-category {
          color: var(--bodyTextColorWhite);
        }

        .cs-text,
        .cs-date,
        .cs-category {
          opacity: 0.8;
        }

        .cs-item-text {
          background-color: var(--medium);
        }

        .cs-category {
          &::before {
            background-color: var(--accent);
          }
        }
      }
    }
  }
</style>
