---
// Import the component and all the images you want to use with it
import CSPicture from "@components/TemplateComponents/CSPicture.astro";
import mobileImage from "@assets/images/CTA/construction-m.jpg";
import desktopImage from "@assets/images/CTA/cabinets2.jpg";
import fallbackImage from "@assets/images/CTA/cabinets2.jpg";
---

<!-- ============================================ --><!--                     CTA                      --><!-- ============================================ -->
<section id="cta-1693">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">
        Have Doubts? Get Your Queries Solved by Our Experts
      </h2>
      <a href="" class="cs-button-solid">Get In Touch</a>
    </div>
  </div>
</section>

<style lang="less">
  /*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #cta-1693 {
      padding: var(--sectionPadding);
      background-color: var(--primary);
      position: relative;
      overflow: hidden;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
        gap: (24/16rem);
      }

      .cs-title {
        max-width: 30ch;
        margin: 0;
        color: #fff;
      }

      .cs-button-solid {
        font-size: (16/16rem);
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-align: center;
        text-decoration: none;
        min-width: (150/16rem);
        margin: 0;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        padding: 0 (24/16rem);
        color: #fff;
        background-color: var(--secondary);
        display: inline-block;
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          width: 0%;
          height: 100%;
          background: #000;
          opacity: 1;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #cta-1693 {
      .cs-content {
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
</style>
