---
import { Image } from "astro:assets";
import image from "../assets/images/100-score.png";
---

<!-- ============================================ --><!--                Side By Side                  --><!-- ============================================ -->
<section id="sbs-1640">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Website Performance</span>
      <h2 class="cs-title">
        Better Performance <span class="cs-color">More</span> Leads!
      </h2>
      <div class="cs-picture">
        <!--Mobile Image-->

        <Image
          loading="lazy"
          decoding="async"
          src={image}
          alt="lighthouse"
          width="1208"
          height="406"
          quality={100}
        />
      </div>
    </div>
    <div class="cs-stats-group">
      <p class="cs-text">
        At NCAT Digital, our commitment to performance excellence sets us apart.
        We focus on delivering fast, secure, and scalable solutions that empower
        your business to achieve its goals seamlessly. Every website we create
        is optimized for speed, reliability, and user satisfaction.
      </p>
      <p class="cs-text">
        With a data-driven approach, we ensure that your digital presence not
        only meets industry standards but exceeds them. From responsive designs
        to advanced analytics integration, we craft solutions that perform under
        pressure and adapt to evolving needs.
      </p>
      <ul class="cs-stats">
        <li class="cs-stat">
          <span class="cs-number">100%</span>
          <span class="cs-desc">Statisfaction</span>
        </li>
        <li class="cs-stat">
          <span class="cs-number">10+</span>
          <span class="cs-desc">Projects</span>
        </li>
        <li class="cs-stat">
          <span class="cs-number">100</span>
          <span class="cs-desc">Page speed</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<style lang="less">
  /*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbs-1640 {
      padding: var(--sectionPadding);
      background-color: var(--primary);
      overflow: hidden;
      .cs-topper {
        color: var(--secondary);
      }
      .cs-color {
        color: #43b7ff;
      }

      .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: (584/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: (630/16rem);
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
        position: relative;
        z-index: 10;
      }

      .cs-title {
        margin: 0 0 (40/16rem) 0;
        color: var(--bodyTextColorWhite);
      }

      .cs-text {
        margin-bottom: (16/16rem);
        color: var(--bodyTextColorWhite);
        opacity: 0.8;

        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-picture {
        width: 100%;
        height: auto;
        min-height: (420/16rem);
        display: block;
        position: relative;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-stats-group {
        width: 100%;
        max-width: (570/16rem);
        display: flex;
        flex-direction: column;
      }

      .cs-stats {
        width: 100%;
        max-width: (630/16rem);
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: (24/16rem);
        column-gap: (12/16rem);
      }

      .cs-stat {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        grid-column: span 4;
        flex-direction: column;
        align-self: stretch;
        align-content: space-between;
      }

      .cs-number {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 5vw, 3.8125rem);
        line-height: 1.2em;
        font-weight: 900;
        text-align: left;
        color: var(--bodyTextColorWhite);
        display: block;
        margin: 0 0 (4/16rem) 0;
      }

      .cs-desc {
        font-size: (16/16rem);
        line-height: 1.5em;
        font-weight: 700;
        text-align: left;
        /* auto margin top will push text to bottom if there's only one line */
        margin: 0;
        color: var(--secondary);
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #sbs-1640 {
      .cs-container {
        max-width: (1280/16rem);
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
      }

      .cs-stats-group {
        /* 52px - 90px */
        margin-bottom: clamp(3.25rem, 7vw, 5.625rem);
        /* 60px - 120px */
        padding-top: clamp(3.75rem, 10vw, 7.5rem);
        /* 60px - 80px */
        padding-bottom: clamp(3.75rem, 8vw, 5rem);
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          width: 200vw;
          height: 100%;
          background: #fff;
          opacity: 1;
          position: absolute;
          display: block;
          top: 100%;
          left: -100%;
          z-index: -1;
          transform: translateX(-50%);
        }
      }

      .cs-picture {
        height: 100%;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #sbs-1640 {
        background-color: var(--dark);

        .cs-stats-group {
          &:before {
            background-color: var(--accent);
          }
        }
      }
    }
  }
</style>
