<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1690">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Pick Your Pricing Plan</h2>
            <p class="cs-text">
                Designed to maintain your current colour, blend out a growing root or balance your blonde while providing full and demi-permanent coverage.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-package">Standard</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        All available starter feature
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Home service 24/7
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Customer agent service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Professional Service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        2 dedicated mechanic
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Remote Service mechanic
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                </ul>
                <span class="cs-price">$250
                    <span class="cs-duration">Per Month</span>
                </span>
                <a href="" class="cs-link">
                    <span class="cs-link-text">Get Started</span>
                    <img class="cs-arrow" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                            alt="icon" width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item cs-popular">
                <span class="cs-package">Business</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        All available starter feature
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Home service 24/7
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Customer agent service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Professional Service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        2 dedicated mechanic
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Remote Service mechanic
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                </ul>
                <span class="cs-price">$300
                    <span class="cs-duration">Per Month</span>
                </span>
                <a href="" class="cs-link">
                    <span class="cs-link-text">Get Started</span>
                    <img class="cs-arrow" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                            alt="icon" width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <span class="cs-package">Premium</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        All available starter feature
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Home service 24/7
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Customer agent service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Professional Service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        2 dedicated mechanic
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Remote Service mechanic
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                                alt="checkmark" width="18" height="18">
                    </li>
                </ul>
                <span class="cs-price">$500
                    <span class="cs-duration">Per Month</span>
                </span>
                <a href="" class="cs-link">
                    <span class="cs-link-text">Get Started</span>
                    <img class="cs-arrow" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                            alt="icon" width="20" height="20" aria-hidden="true" />
                </a>
            </li>
        </ul>
    </div>
</section>
                                

<style lang="less">
    /*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-1690 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16em);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            max-width: (522/16rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-flow: wrap row;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            transform-style: preserve-3d;
            perspective: 700px;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            margin: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 24px - 32px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.5rem, 3vw, 2rem) clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            display: flex;
            flex-direction: column;
            align-items: stretch;

            &.cs-popular {
                background-color: #111926;

                .cs-package,
                .cs-li,
                .cs-duration {
                    color: var(--bodyTextColorWhite);
                }

                .cs-icon {
                    /* if icon is not black, this turns it white */
                    filter: grayscale(1) brightness(1000%);
                }

                .cs-price {
                    color: var(--primary);
                }
            }
        }

        .cs-package {
            font-size: (25/16rem);
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: (16/16rem);
            color: #111926;
        }

        .cs-ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.2em;
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: space-between;
            /* push everything to the top so if the li goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (16/16rem);

            &.cs-disabled {
                opacity: 0.5;
            }
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
        }

        .cs-price {
            font-size: (49/16rem);
            font-weight: 900;
            line-height: 1.2em;
            /* margin-top pushes price information to bottom when there are different list lengths. padding-top keeps a minimum distance between price and list */
            margin-top: auto;
            /* 48px - 64px */
            padding-top: clamp(3rem, 6vw, 4rem);
            color: var(--headerColor);
            display: flex;
            align-items: baseline;
            gap: (8/16rem);
        }

        .cs-duration {
            font-size: (16/16rem);
            font-weight: 400;
            line-height: 1.5em;
            color: var(--bodyTextColor);
        }

        .cs-link {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            text-decoration: none;
            margin-top: (16/16rem);
            color: var(--primary);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (10/16rem);
            transition: color 0.3s;

            &:hover {
                .cs-arrow {
                    transform: translateX(0.25rem);
                }
            }
        }

        .cs-link-text {
            width: fit-content;
        }

        .cs-arrow {
            width: (20/16rem);
            height: auto;
            display: block;
            transition: filter 0.3s, transform 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-1690 {
        .cs-option2 {
            top: auto;
            bottom: 0;
        }

        .cs-item {
            width: 48.9%;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #pricing-1690 {
        .cs-card-group {
            flex-wrap: nowrap;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-1690 {
            .cs-title,
            .cs-text,
            .cs-li,
            .cs-package,
            .cs-price,
            .cs-duration {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-duration {
                opacity: 0.8;
            }

            .cs-item {
                background-color: rgba(0, 0, 0, .2);

                &.cs-popular {
                    background-color: rgba(0, 0, 0, .6);
                }
            }

            .cs-icon {
                /* makes icon white (if it wasnt black to start) */
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}
                                
</style>